*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
.hero{
    height: 20vh;
    width: 100%;
}

.hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10% ;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 28px;
}
span{
color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
  color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition-timing-function: ease-in-out;
}

nav ul li a:hover{
    color:  red;
    transition: 0.4s;
}
button{
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    transition-timing-function: ease-out;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}





















